<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>WeBaDut</title>
    <link href="../css/item.css" type="text/css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../script/item-script.js" defer></script>
    <script src="../script/logout.js"></script>
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="../html/dash-index.html">Home</a>
      <div class="rightnav" id="admin">
        <a class="account" id="nama"></a>
        <a href="javascript:{}" onclick="logout()" class="account"
          ><img id="logout" src="images/logout.png"
        /></a>
      </div>
    </div>
    <h1 class="featured-products-title">Web Dorayaki</h1>
    <h2 class="featured-products-subtitle"></h2>
    <section class="featured-products"></section>
  </body>
</html>
